<div class="comment">
    <div class="col-lg-12">
        <h1>سفارش سایت های رایج</h1>
        <div class="col-lg-3">
            <h1>شخصی</h1>
            <i class="fa fa-eye"></i>
            <p>ا داشتن وب سایت شخصی بهتر دیده شوید. 
                میدانید هم اکنون خیلی ها به دنبال شما هستند؟ 
                رزومه خود را آنلاین کنید</p>
            <button class="btn btn-info">شروع کنید</button>
        </div>
        <div class="col-lg-3">
            <h1>شخصی</h1>
            <i class="fa fa-eye"></i>
            <p>ا داشتن وب سایت شخصی بهتر دیده شوید. 
                میدانید هم اکنون خیلی ها به دنبال شما هستند؟ 
                رزومه خود را آنلاین کنید</p>
            <button class="btn btn-info">شروع کنید</button>
        </div>
        <div class="col-lg-3">
            <h1>شخصی</h1>
            <i class="fa fa-eye"></i>
            <p>ا داشتن وب سایت شخصی بهتر دیده شوید. 
                میدانید هم اکنون خیلی ها به دنبال شما هستند؟ 
                رزومه خود را آنلاین کنید</p>
            <button class="btn btn-info">شروع کنید</button>
        </div>
        <div class="col-lg-3">
            <h1>شخصی</h1>
            <i class="fa fa-eye"></i>
            <p>ا داشتن وب سایت شخصی بهتر دیده شوید. 
                میدانید هم اکنون خیلی ها به دنبال شما هستند؟ 
                رزومه خود را آنلاین کنید</p>
            <button class="btn btn-info">شروع کنید</button>
        </div>


    </div>
    <div class="clearfix"></div>
</div>
<img src="bundles/public/img/shadow1.png" width="100%" style=" opacity: 0.2;">
