<div class="main">
    <section class="list" id="list">

        <div class="list_1">
            <h1>لیست قیمت طراحی سایت</h1>
            <hr>
            <h2 class="margin_5">لیست قیمت سایت های تبلیغاتی :</h2>
            <div class="col-lg-4 col-md-6 col-xs-12 list-info">
                <ul class="nav nav-stacked">
                    <li class="one"><a href="#"><h2><b>پکیج شماره 1</b> </h2></a></li>
                    <hr>
                    <li><a>پشتیبانی رایگان</a></li>
                    <li><a>هاست رایگان</a></li>
                    <li><a>دامنه رایگان</a></li>
                    <li><a>سیستم مدیریت محتوا</a></li>
                    <li><a>5 صفحه مجزا</a></li>
                    <li><a>ثبت نظرات کاربران</a></li>
                    <li><a>ثبت در گوگل</a></li>
                    <li><a>بهنه سازی برای موتورهای جستجو</a></li>
                    <li><a>حجم اختصاصی 200m</a></li>
                    <li><a><b>قیمت :400,000 تومان</b></a></li>
                    <a href="<?php echo url('requesting'); ?>" class="btn btn-info btn-lg " style="width: 96%;">سفارش  <i class="fa fa-mail-reply"></i></a>
                </ul>
            </div>

            <div class="col-lg-4 col-md-6 col-xs-12 list-info">
                <ul class="nav nav-stacked">
                    <li class="one"><a href="#"><h2><b>پکیج شماره 2</b> </h2></a></li>
                    <hr>
                    <li><a>پشتیبانی رایگان</a></li>
                    <li><a>هاست رایگان</a></li>
                    <li><a>دامنه رایگان</a></li>
                    <li><a>سیستم مدیریت محتوا</a></li>
                    <li><a>قابلیت درج بی نهایت صفحه</a></li>
                    <li><a>ثبت نظرات کاربران</a></li>
                    <li><a>بهنه سازی برای موتورهای جستجو</a></li>
                    <li><a>ثبت سایت در گوگل</a></li>
                    <li><a>حجم اختصاصی 500m</a></li>
                    <li><a><b>قیمت :500,000 تومان</b></a></li>
                    <a href="<?php echo url('requesting'); ?>" class="btn btn-info btn-lg " style="width: 96%;">سفارش  <i class="fa fa-mail-reply"></i></a>
                </ul>
            </div>

            <div class="col-lg-4 col-md-6 col-xs-12 list-info">
                <ul class="nav nav-stacked">
                    <li class="one"><a href="#"><h2><b>پکیج شماره 3</b> </h2></a></li>
                    <hr>
                    <li><a>پشتیبانی رایگان</a></li>
                    <li><a>هاست رایگان</a></li>
                    <li><a>دامنه رایگان</a></li>
                    <li><a>سیستم مدیریت محتوا</a></li>
                    <li><a>قابلیت درج بی نهایت صفحه</a></li>
                    <li><a>ثبت نظرات کاربران</a></li>
                    <li><a>بهنه سازی برای موتورهای جستجو</a></li>
                    <li><a>ثبت سایت در گوگل</a></li>
                    <li><a>حجم اختصاصی 1000m</a></li>
                    <li><a><b>قیمت :600,000 تومان</b></a></li>
                    <a href="<?php echo url('requesting'); ?>" class="btn btn-info btn-lg " style="width: 96%;">سفارش  <i class="fa fa-mail-reply"></i></a>
                </ul>
            </div>
        </div>
        <img src="bundles/public/img/shadow1.png" width="100%" class="img img-responsive">

        <div class="list_2">
            <h2 class="margin_5">لیست قیمت سایت های فروشگاهی :</h2>
            <div class="col-lg-4 col-md-6 col-xs-12 list-info">
                <ul class="nav nav-stacked">
                    <li class="one"><a href="<?php echo url('requesting'); ?>">پکیج فروشگاهی 1</a></li>
                    <hr>
                    <li><a>پشتیبانی رایگان</a></li>
                    <li><a>هاست رایگان</a></li>
                    <li><a>دامنه رایگان</a></li>
                    <li><a>سیستم مدیریت محتوا</a></li>
                    <li><a>عضویت کاربران</a></li>
                    <li><a>خرید اینترنتی</a></li>
                    <li><a>ثبت سفارش</a></li>
                    <li><a>پرداخت اینترنتی</a></li>
                    <li><a>ماژول های گوناگون</a></li>
                    <li><a>ثبت نظرات کاربران</a></li>
                    <li><a>سفارشی سازی با نظر مشتری</a></li>
                    <li><a>قابلیت دو زبانه</a></li>
                    <li><a><b>قیمت :2,000,000 تومان</b></a></li>
                    <a href="<?php echo url('requesting'); ?>" class="btn btn-info btn-lg " style="width: 96%;">سفارش  <i class="fa fa-mail-reply"></i></a>
                </ul>
            </div>

            <div class="col-lg-4 col-md-6 col-xs-12 list-info">
                <ul class="nav nav-stacked">
                    <li class="one"><a href="<?php echo url('requesting'); ?>">پکیج فروشگاهی 2</a></li>
                    <hr>
                    <li><a>پشتیبانی رایگان</a></li>
                    <li><a>هاست رایگان</a></li>
                    <li><a>دامنه رایگان</a></li>
                    <li><a>کد نویسی با قویترین فریم ورک ها</a></li>
                    <li><a>عضویت کاربران</a></li>
                    <li><a>خرید اینترنتی</a></li>
                    <li><a>ثبت سفارش</a></li>
                    <li><a>پرداخت اینترنتی</a></li>
                    <li><a>ماژول های گوناگون</a></li>
                    <li><a>ثبت نظرات کاربران</a></li>
                    <li><a>سفارشی سازی با نظر مشتری</a></li>
                    <li><a>قابلیت دو زبانه</a></li>
                    <li><a>کنترل پنل کاملا اختصاصی </a></li>
                    <li><a><b>قیمت :2,500,000 تومان</b></a></li>
                    <a href="<?php echo url('requesting'); ?>" class="btn btn-info btn-lg " style="width: 96%;">سفارش  <i class="fa fa-mail-reply"></i></a>
                </ul>
            </div>

            <div class="col-lg-4 col-md-6 col-xs-12 list-info">
                <ul class="nav nav-stacked">
                    <li class="one"><a href="#">پکیج فروشگاهی 3</a></li>
                    <hr>
                    <li><a>پشتیبانی رایگان</a></li>
                    <li><a>هاست رایگان</a></li>
                    <li><a>دامنه رایگان</a></li>
                    <li><a>کد نویسی با قویترین فریم ورک ها</a></li>
                    <li><a>عضویت کاربران</a></li>
                    <li><a>خرید اینترنتی</a></li>
                    <li><a>ثبت سفارش</a></li>
                    <li><a>پرداخت اینترنتی</a></li>
                    <li><a>ماژول های گوناگون</a></li>
                    <li><a>ثبت نظرات کاربران</a></li>
                    <li><a>سفارشی سازی با نظر مشتری</a></li>
                    <li><a>قابلیت چند زبانه</a></li>
                    <li><a>کنترل پنل کاملا اختصاصی </a></li>
                    <li><a><b>قیمت :3,000,000 تومان</b></a></li>
                    <a href="<?php echo url('requesting'); ?>" class="btn btn-info btn-lg " style="width: 96%;">سفارش  <i class="fa fa-mail-reply"></i></a>
                </ul>
            </div>

        </div>
        <img src="bundles/public/img/shadow1.png" width="100%" class="img img-responsive">
    </section>
</div>

