<section class="service" id="service" style="padding: 10px">
    <div class="col-lg-12 it">
        <h1>چرا باید کسب کار خود را وارد دنیای وب کنید؟</h1>
        <center>
            <div class="col-lg-4">
                <i class="fa fa-mobile fa-4x"></i>
                <h2>امنیت</h2>
                با ورود IT به دنیای کسب و کار امکان دخالت سیستم در پروسه ها به جز دسرسی های خاص محدود می شود بنابراین می توانید اعتماد بیشتری به کسب و کار خود داشته باشید.
            </div>

            <div class="col-lg-4">
                <i class="fa fa-html5 fa-4x"></i>
                <h2>سرعت</h2>
                بدون شک اولین و مهمترین هدف IT بالا بردن سرعت گردش اطلاعات بوده است و شما در این بستر می توانید گردش کاری خود را تسریع کنید.
            </div>

            <div class="col-lg-4">
                <i class="fa fa-cogs fa-4x"></i>
                <h2>تاثیرپذیری</h2>
                با تبدیل اهداف خود به مدل های کسب و کار اینترنتی.... بردن از مزایای آن و با دسترسی کردن کسب و کار خود موثر تر و مفیدتر در راستای اهداف خود تلاش کنید.
            </div>

            <div class="col-lg-4">
                <i class="fa fa-check fa-4x"></i>
                <h2>کنترل</h2>
                با مدل کردن همه کسب و کار خود و پیاده سازی آن در قالب IT تنها با یک مانیتور بر روی کسب و کار خود را مدیریت داشته باشید.و تمامی جوانب آن را کنترل کنید.
            </div>

            <div class="col-lg-4">
                <i class="fa fa-gear fa-4x"></i>
                <h2>بهره وری</h2>
                مطمئنا با بالا بردن تأثیرپزیری و کارایی و مدیریت بهینه تأثیر متقابل آنها به واسط سیستم های اطلاعاتی می توانید در نهایت بهره وری کسب و کار خود را بالا برده و از محقق شدن رویاهای خود توسط IT ......................
            </div>

            <div class="col-lg-4">
                <i class="fa fa-rocket fa-4x"></i>
                <h2>کارایی</h2>
                با بالا بردن سطح کنترل بر کسب و کار خود و استفاده از سرعت می توانید از ورودی های سازمان خود حداکثر خروجی را داشته باشید و با حداقل هدر رفت منابع در جهت محقق شدن اهدفتان حرکت کنید.
            </div>
        </center>
    </div>
    <div class="clearfix"></div>
</section>
<img src="bundles/public/img/shadow1.png" width="100%" class="img img-responsive" style="position: absolute;height: 15px">