<div class="header">
    <div class="col-lg-12 head-sections-body">
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 section">
            <div class=" head-sections">
                <i class="fa fa-mobile"></i>
                <h3>طراحی واکنش گرا</h3>
                <h4 style="text-align: right;direction: rtl">
                    سایت هایی که توسط ما طراحی می شود در تمام دستگاه ها قابل نمایش به صورت مناسب می باشد
                </h4>
            </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 section">
            <div class=" head-sections">
                <i class="fa fa-windows"></i>
                <h3>مدیریت آسان</h3>
                <h4 style="text-align: right;direction: rtl">
                    توسط بخش کنترل و ادمین که توسط ما طراحی می شود شما می توانید تمام قسمت های سایت خود را مدیریت کنید
                </h4>
            </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 section">
            <div class=" head-sections">
                <i class="fa fa-apple"></i>
                <h3>پشتیبانی</h3>
                <h4 style="text-align: right;direction: rtl">
                    مهمترین قسمت در سفارش طراحی سایت پشتیبانی می باشد که ما در تمام قسمت ها از طراحی تا پیاده سازی شما را پشتیبانی می کنیم
                </h4>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div id="h_why" class="arrow-down hidden-xs hidden-sm" >
        <i  class="fa fa-arrow-down"></i>
    </div>
    <div class="clearfix"></div>
</div>