<div  ng-show="ShowContentInfo">
    <div class="modal-body">
        <p style="direction: ltr" class="showform"></p>
<!--		<div class="show col-lg-6 col-md-6 col-xs-12 col-sm-12"> 
		عنوان : {{Selected.title}}
		</div>
		<div class="show col-lg-6 col-md-6 col-xs-12 col-sm-12"> 
		دسته بندی : {{ShowCategory(Selected.ctg_id)}}
		</div>
		<div class="verydata col-lg-12 col-md-12 col-xs-12 col-sm-12"> 
                    محتوا : <span >{{Selected.content}}</span>
		</div>
		<div class="show col-lg-6 col-md-6 col-xs-12 col-sm-12"> 
		تاریخ ایجاد : {{Selected.created_at}}
		</div>
		<div class="show col-lg-6 col-md-6 col-xs-12 col-sm-12"> 
		آخرین تغییرات : {{Selected.updated_at}}
		</div>		-->
		<div class="clearfix"></div>
    </div>
    <div class="modal-footer">
        <button ng-click="prepareEdit()" class="btn btn-success pull-left">ویرایش</button>
    </div>
    <div class="clearfix"></div>
</div>